NN/force-app/main/default/flows/NN_LeadBeforeSaveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setOwnerSince</name>
        <label>setOwnerSince</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.NN_OwnerSince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CreatedOrUpdated</name>
        <label>CreatedOrUpdated</label>
        <locationX>402</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>isOwnerIdSetAndChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isOwnerIdSet</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOwnerIdSet</name>
        <label>isOwnerIdSet</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOwnerSince</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOwnerIdSetAndChanged</name>
        <label>isOwnerIdSetAndChanged</label>
        <locationX>622</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>setOwnerSince</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check if this is a new record</description>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatedOrUpdated</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
